/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0d0d2b;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

/* Encabezado */
header {
    background: linear-gradient(135deg, #ae00ff, #0091ff);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 179, 0.645);
}

/* Menú de navegación */
nav {
    margin: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav a {
    color: #00d9ff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    background: linear-gradient(135deg, #242129, #21262b);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 251, 179, 0.645);
}

/* Footer */
footer {
    margin-top: 20px;
    padding: 15px;
    background: #007bff;
    border-radius: 10px;
}
